body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #EEEEEE;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}
#game {
  width: 1000px;
  height: 600px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.float-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px;
  background-color: #000000;
}
